/*============
font-family: 'Poppins', sans-serif;
=============*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

p,
ul,
li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}




/*=========================================*/
/*==========Start Login Section==========*/
/*=========================================*/
.main-login-section{
 
}
.company-logo-area{
    background: green;
    padding: 200px 140px;
    height: 100vh;
}
.company-logo-area .login-logo{
    height: 120px;
    width: 180px;
}
.company-logo-area .login-heading{
    font-size: 70px;
    font-weight: 800;
    line-height: normal;
    color: #FFFFFF;
    padding: 40px 0px;
}
.company-logo-area .adimn-text{
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    color: #ffffff;
}
.login-form-area{
    padding: 200px 140px;
}


.login-form-area .sign-in-text{
    font-size: 60px;
    font-weight: 800;
    line-height: normal;
    color: #172B4D;
    padding: 40px 0px;
}



.s-form-group{
    position: relative;
    margin-bottom: 35px;
}
.s-form-group .inputBox{
    border: none;
    background: none;
    font-size: 17px;
    font-weight: 400;
    color: #717171;
    border: 1px solid #717171;
    border-radius: 25px;
    padding: 15px 40px;
    width: 100%;

}
.s-form-group .s-icon{
    position: absolute;
    top: 17px;
    left: 15px;
    font-size: 20px;
    color: #717171;
}


.flex-box-seven{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-box-seven .s-form-group{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-box-seven .s-form-group .input-checkbox{
    height: 22px;
    width: 22px;
    margin-right: 10px;
}
.flex-box-seven .s-form-group .remember{
    font-size: 17px;
    font-weight: 400;
    color: #717171;

    line-height: normal;
}

.flex-box-seven .s-form-group .forgot-password{
    font-size: 17px;
    font-weight: 400;
    color: #717171;

    line-height: normal;
}


.s-form-group .s-submit-button{
    border: none;
    background: #007AFF;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 25px;
    padding: 15px 40px;
    width: 100%;
    text-align: center;
}



@media all and (max-width:1199px) {
    .company-logo-area {
      
        padding: 175px 85px;
       
    }
    .login-form-area {
        padding: 100px 85px;
    }
    .company-logo-area .login-heading {
        font-size: 50px;
       
        padding: 40px 0px;
    }
}


@media all and (max-width:991px) {
    .company-logo-area {
      
        padding: 65px 35px;
       
    }
    .login-form-area {
        padding: 65px 35px;
    }
    .company-logo-area .login-heading {
        font-size: 50px;
       
        padding: 40px 0px;
    }
}


@media all and (max-width:767px) {
    .company-logo-area {
      
        padding: 40px 20px;
        height: unset;
       
    }
    .login-form-area {
        padding: 40px 20px;
    }
    .company-logo-area .login-heading {
        font-size: 50px;
       
        padding: 40px 0px;
    }
}

@media all and (max-width:380px) {
    .company-logo-area {
      
        padding: 40px 20px;
        height: unset;
       
    }
    .login-form-area {
        padding: 40px 20px;
    }
    .company-logo-area .login-heading {
        font-size: 35px;
       
        padding: 20px 0px;
    }
    .login-form-area .sign-in-text {
        font-size: 42px;
      
        padding: 40px 0px;
    }
}




/*=========================================*/
/*==========Start Sidebar Section==========*/
/*=========================================*/

/* scrollbar edit start */

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-thumb {
    background: #717171;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(33, 39, 105);
}

::-webkit-scrollbar {
    width: 10px;
}



::-webkit-scrollbar-thumb {
    background: rgb(47, 53, 117);
    border-radius: 10px;
}

/* scrollbar edit end */





.header_wrapper {
	position: fixed !important;
	top: 0px;
	right: 0px;
	width: 87.5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 5;
	padding: 30px 40px;

    background: #c5c5c5fe;

}
.search_bar{
    background: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 30%;
}
.inner_search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.search-icon{
    margin-right: 15px;
}
.inner_search .input_text{
    border: none;
    background: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    color: #172B4D;
    width: 95%;
    padding: 16px 0px;

    
}
.user-profile-area{
    lex-basis: 70%;
}
.user-profile-area{
    background: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    height: 60px;
}
.user-profile-area .user-image-area{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.user-profile-area .user-image-area .user-image{
    height:40px;
    width: 40px;

    margin-right: 10px;
    border: 0.5px solid #172B4D;
}
.user-profile-area .user-image-area .user-text-area{
    margin-right: 15px;
}
.user-profile-area .user-image-area .user-text-area .user-name-text{
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    color: #172B4D;
   
}
.user-profile-area .user-image-area .user-text-area .user-text{
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #7b7b7b;
    
}
.user-profile-area .user-image-area .user-arrow{
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* header end */

/*---------------sidebar Start-------------*/

.sidebar {
    height: 100vh;
    position: fixed;
    background-color: #fff;
    width: 240px;
    transition-duration: 0.5s;
    z-index: 43;
    left: 0px;
    top: 0px;
    font-weight: bold;
    bottom: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    padding-left:17px;
}


.sidebar:hover {
    overflow-y: auto;
}


.sidebar_logo {
    z-index: 5;
    background: #fff !important;
    width: 232px;
    margin-left: -10px !important;

}

.sidebar_logo {
    position: fixed;
    margin-bottom: 15px;
    margin-left: 5px;
    background-color: #fff;
    margin-bottom: 20px;
}

.sidebar_logo img {
    width: 170px;
    margin-top: 10px;
    margin-left: 20px;
}
.sidebar_ul{
    margin-top: 170px;
}
.sidebar .sidebar-list-item {
    transition-duration: 0.5s;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    position: relative;
    list-style-type: none;
    margin-left: -40px;
    padding-left: 60px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.sidebar .sidebar-list-item:hover {
    background: #0128d4;
    color: #fff;
}


.sidebar .sidebar_ul .sidebar-list-item .sidebar-link {
    color: #172B4D;
    width: 100%;
    box-sizing: border-box;
    line-height: 45px;
    font-size: 17px;
    text-decoration: none;
    font-family: "Inter";
    font-weight: 300;
    transition: all .2s ease-in-out;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
}

.sidebar .sidebar_ul .sidebar-list-item .sidebar-link i {
    margin-right: 5px;
}

.sidebar .sidebar-list-item:hover .sidebar-link{
    color: #FFFFFF !important;
}

.sidebar .sidebar_ul .sidebar-list-item:first-child {
    font-weight: bold;
}
.active-sidebar .sidebar-link{
    background: #0128d4;
    color: #fff;
}


.sidebar .active-sidebar {
    background: #0128d4;
    color: #fff;
}

.active-sidebar .sidebar-link{
    color: #FFFFFF !important;
}
.active-sidebar .sidebar-link i{
    color: #FFFFFF !important;
}





#check {
    display: none;
}

label #bars,
label #close {
    position: absolute;
    padding: 15px;
    transition-duration: 0.5s;
    cursor: pointer;
}

label #bars {
    left: 170px;
    top: 80px;
    position: fixed;
    background: none;
    color: #172B4D;
    padding: 10px;
    font-size: 26px;
    z-index: 98;
    padding: 10px;
    z-index: 44;
    display: none;
}

label #close {
   
    z-index: 10;
    opacity: 0;
    color: #172B4D;
    position: fixed;
    /* left:190px; */
    top: 20px;
        left: 20px;
    font-size: 22px;
}

#check:checked ~ .sidebar {
    left: -240px;
}


#check:checked ~ label #bars {
    opacity: 0;
    pointer-events: none;
}

.menu_bar:focus .main_body {
    margin-left: -240px !important;
}

#check:checked ~ label #close {
    position: fixed;
    z-index: 105000;
    opacity: 1;
}



.collapse-item-sidebar li {
    margin-left: -18px;
}












/* css media query code  */

@media screen and (max-width: 1199px) {
    .header_wrapper {
        position: fixed !important;
        top: 0;
        right: 0px;
        width: 100%;
       
        padding: 17px 69px;
        border-radius: 0;
        background: #c5c5c5fe;

    }
    label #bars {
       
        position: fixed;
        background: none;
        color: #172B4D;
        padding: 10px;
        font-size: 26px;
        z-index: 98;
        padding: 10px;
        z-index: 99999999;
        display: block;
    }


    .sidebar_logo img {
        width: 170px;
        margin-top: 80px;
        margin-left: 20px;
    }
    .sidebar {
        left: -250px;
    }

    .sidebar_ul {
        margin-top: 215px;
    }

    label #bars {
        top: 20px;
        left: 20px;
    }

    #check:checked ~ .sidebar {
        left: 0px;
    }
}

@media all and (max-width:991px) {
    .inner_search .input_text {
       
        width: 199px;
        
    }
}
@media all and (max-width:767px) {
    .header_wrapper {
      
        padding: 0px 20px 20px;
       
        flex-wrap: wrap;
    }
    .user-profile-area {
       
        padding: 10px 30px;
       
        flex-basis: 100%;
    }
    .user-profile-area .user-image-area {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search_bar {
        background: #fff;
        padding: 10px 30px;
        height: 60px;
        flex-basis: 100%;
        margin-bottom: 15px;
        margin-top: 70px;
    }
    .inner_search {
      
        width: 100%;
    }
    .inner_search .input_text {
       
        width: 95%;
        
    }
}

@media all and (max-width:350px) {
    .user-profile-area {
        padding: 10px 1px;
        flex-basis: 100%;
    }
}

.main_body {
    margin: 40px;
    margin-top: 140px;
    margin-left: 280px;
    background: #fff;
    padding: 10px 30px;
    border-radius: 5px;

}


@media all and (max-width:1199px) {
    .main_body {
        margin: 2%;
        margin-top: 100px;
        margin-left: 2%;
      
    
    } 
}

.dashboard-heading{
    padding: 30px 0px 55px;
}
.dashboard-heading .dashboard-heading-text{
    font-size: 20px;
    font-weight: 500;
    color: #172B4D;
    line-height: normal;
    text-transform: uppercase;
}

.dashboard-item-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 250px;
    flex-wrap: wrap;
}
.dashboard-item-area .dashboard-item{
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #172B4D;
    padding: 70px 20px;
    border-radius: 5px;
    margin-bottom: 40px;
}
.dashboard-item-area .dashboard-item .counter-name{
        font-size: 17px;
    font-weight: 400;
    color: #000;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 35px;
}
.dashboard-item-area .dashboard-item .total-text{
        font-size: 50px;
    font-weight: 800;
    color: #000;
    line-height: normal;
    text-transform: uppercase;
}

@media all and (max-width:1199px) {
    .dashboard-item-area .dashboard-item {
        flex-basis: 22%;
       
        padding: 50px 12px;
       
        margin-bottom: 40px;
    }
}
@media all and (max-width:991px) {
    .dashboard-item-area .dashboard-item {
        flex-basis: 45%;
       
        padding: 50px 12px;
       
        margin-bottom: 40px;
    }
}

@media all and (max-width:767px) {
    .main_body {
        margin: 2%;
        margin-top: 250px;
        margin-left: 2%;
    }
}
@media all and (max-width:576px) {
    .dashboard-item-area .dashboard-item {
        flex-basis: 100%;
       
        padding: 50px 12px;
       
        margin-bottom: 40px;
    }
}


/* ---------------------------------- ADD PRODUCT PAGE --------------------------------------- */
.add-product-area{}
.add-product-area .add-product-form{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.add-product-area .add-product-form .add-product-image-area{
    flex-basis: 47%;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #717171;
}

.form-group{}
.form-group .label-text{
    font-size: 16px;
    line-height: normal;
    color: #717171;
    font-weight: 400;
    margin-bottom: 10px;
}
.image-add{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F5F6FA;
    border: 1px dashed #007AFF;
    padding: 163px;
    margin-top: 20px;
}
.image-add .img-icon{
    font-size: 130px;
    color: #7b7b7b;
    margin-bottom: 40px;
}
.image-add .drop-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-add .drop-image .upload-icon{
    font-size: 20px;
    color: #007AFF;
}
.image-add .drop-image .drop-text{
    font-size: 16px;
    line-height: normal;
    color: #717171;
    font-weight: 400;
    margin: 0px 5px;

}
.image-add .drop-image .browse-button{
    border: none;
    background: none;
    font-size: 16px;
    line-height: normal;
    color: #007AFF;
    font-weight: 400;
  
}

.show-upload-image{
    padding: 15px 30px;
    border-radius: 5px;
    border: 1px solid #717171;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.show-upload-image .upload-product-details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.show-upload-image .upload-product-details .show-img{
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin-right: 15px;
}
.flex-box-one{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.show-upload-image .upload-product-details .img-name{
    font-size: 16px;
    line-height: normal;
    color: #717171;
    font-weight: 500;
    margin-bottom: 5px;
}
.show-upload-image .upload-product-details .image-size{
    font-size: 14px;
    line-height: normal;
    color: #717171;
    font-weight: 400;
}

.show-upload-image .delete-button{
    border: none;
    background: none;
}
.show-upload-image .delete-button .delete-icon{
    font-size: 25px;
    color: #717171;
}

.add-product-area .add-product-form .add-product-details-area{
    flex-basis: 47%;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #717171;
}


.form-group{}
.form-group .label-text{
    display: block;
}
.form-group .input-box{
    background: none;
    border: none;
    border: 1px solid #717171;
    font-size: 18px;
    line-height: normal;
    color: #717171;
    font-weight: 400;
    margin-bottom: 10px;
    width: 100%;
    padding: 15px 30px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.plus-postion{
    position: relative;
}
.plus-postion .plus-button{
    border: none;
    background: #2066F2;
    padding: 15px 20px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 27px;
}
.plus-postion .plus-button .fa-plus{
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
}


.show-measurement{}
.show-measurement .button-item{
    display: flex;
	justify-content: flex-start;
	align-items: center;

    margin-bottom: 30px;
    
}
.delete-measurement {
border: none;
	line-height: normal;
	color: #fff;
	font-weight: 700;
	background: #F40000;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
    margin-left: 15px;

}
.show-measurement .button-item .show-measurement-text{
    border: none;
    background: #EFEFEF;
    font-size: 18px;
    line-height: normal;
    color: #717171;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 5px;
}



.publish-product-area{
    text-align: right;

    flex-basis: 100%;
    margin: 40px 0px;
}
.publish-product-area .publish-button{
    text-align: right;
    border: none;
    background: #2066F2;
    font-size: 20px;
    line-height: normal;
    color: #ffffff;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 5px;
}

@media all and (max-width:1199px){

    .image-add {
       
        padding: 164px 40px;
        margin-top: 20px;
    }
} 
@media all and (max-width:991px) {

    .add-product-area .add-product-form .add-product-image-area{
        flex-basis: 100%;
        margin-bottom: 40px;

    }
    
    .add-product-area .add-product-form .add-product-details-area{
        flex-basis: 100%;
       
    }
    
}



@media all and (max-width:767px){

    .image-add {
       
        padding: 64px 40px;
        margin-top: 20px;
    }
} 

@media all and (max-width:576px){

    .image-add {
       
        padding: 64px 10px;
        margin-top: 20px;
    }
} 

@media all and (max-width:410px){

    .image-add {
       
        padding: 10px 10px;
        margin-top: 20px;
    }
    .image-add .drop-image {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .image-add .drop-image .drop-text {
        font-size: 16px;
       
        margin: 10px 0px;
    }
} 




/* ---------------------------------- ALL PRODUCT PAGE --------------------------------------- */

.heading-flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-product-button{
    border: none;
    background: #007AFF;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.add-product-button .p-icon{
    font-size: 20px;
    margin-right: 5px;

    color: #ffffff;
}
.add-product-button .add-button-text{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    line-height: normal;
}






.dashboard-product-show-area{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid #717171;
    padding: 20px;
}
.flex-box-eight{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.dashboard-product-image-area{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid #717171;
    padding-right: 20px;
}
.dashboard-product-image-area .dashboard-product-image{
    height: 60px;
    width: 120px;
    margin-bottom: 20px;
}
.dashboard-product-image-area .dashboard-product-name{
    font-size: 18px;
    font-weight: 500;
    color: #007AFF;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 10px;
    margin-bottom: 20px;
}




.dashboard-product-size-area{
    padding-left: 20px;
}
.dashboard-product-size-area .dashboard-m-button-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.dashboard-product-size-area .dashboard-m-button-item .dashboard-measurement-text{
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: normal;
    text-transform: uppercase;
   background: #8781CD;
   padding: 7px 15px;
   margin-right: 10px;
   margin-bottom: 20px;
}





.dashboard-product-action-area{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.dashboard-product-action-area .action-button{
    font-size: 22px;
    border: none;
    background: none;
    margin-right: 10px;
    margin-bottom: 20px;
}
.dashboard-product-action-area .action-button .d-product-delete{
    color: #F40000;
}

.main-button{
    font-size: 20px;
    color: #172B4D;
    font-weight: 700;
    line-height: normal;
}
.second-button{
    font-size: 17px;
    color: #172B4D;
    font-weight: 700;
    line-height: normal;
}
.accordion-button:not(.collapsed) {
	color: #172B4D;
    background-color: #E4E4E4 !important;
    box-shadow: none !important;
}
button:focus:not(:focus-visible) {
	outline: 0;
}
.accordion-button:focus {
	z-index: 3;
	border-color: transparent;
	outline: 0;
	box-shadow: 0 0 0 .25rem rgba(13, 109, 253, 0);
}
.accordion-button::after {
	flex-shrink: 0;
	width: 1.25rem;
	height: 1.25rem;
	margin-left: auto;
	content: "";
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-size: 1.25rem;
	transition: transform .2s ease-in-out;
	rotate: -90deg;
}
.accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	transform: rotate(-90deg);
}

@media  all and (max-width:767px) {
    .flex-box-eight{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
    .dashboard-product-image-area {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: none;
        border-bottom: 1px solid #717171;
        padding-right: 0px;
    }
    .dashboard-product-image-area .dashboard-product-name {
       
        margin-bottom: 0px;
    }
    .dashboard-product-size-area {
        padding-left: 0;
        padding-top: 25px;
    }
    .dashboard-product-show-area {
        
        padding: 20px;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .dashboard-product-action-area {
       
        padding-top: 20px;
    }
}


@media all and (max-width:430px) {
    .add-product-button .add-button-text {
        font-size: 15px;
       
    }
    .add-product-button .p-icon {
        font-size: 15px;
       
    }
    .add-product-button {
      
        padding: 10px 6px;
        
    }
    .dashboard-heading .dashboard-heading-text {
        font-size: 18px !important;
       
    }
    .main-button{
        font-size: 17px;
      
    }
    .second-button{
        font-size: 15px;
        
    }
}








/* ---------------------------------------- EDI PRODUCT PAGE START -------------------------------- */


.edit-product-item{
    border: 1px solid #8680CD;
    border-radius: 10px;
    margin-bottom: 40px;
}





